.titulo-pagina {
    font-family: 'Sweet Sans Pro Regular';
    text-align: center;
    font-size: 80px ;
    font-weight: 80;
    color: rgb(58, 95, 197);
    src: local('Sweet Sans Pro Regular'), url('SweetSansProRegular.woff') format('woff');
}

@font-face {
    font-family: 'Sweet Sans Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Sweet Sans Pro Regular'), url('SweetSansProRegular.woff') format('woff');
    }
    
.menu-navegação {
    width: 80%;
    margin: auto;

}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;

}

li {
    padding: 20px;

}
.menu-navegação a{
    text-decoration: none;

}
.menu-navegação {
    border-style: solid;
    border-color: #92a8d1;
  }
  
  div {
    border-style: solid;
    border-color: #92a8d1;
  }