:root {
    --fonte-principal: 'Georgia', sans-serif;
}

.titulo-pagina {
    font-family: var(--fonte-principal);
    text-align: center;
    font-size: 150px;
    font-weight: 400;
    color: rgb(33, 58, 124);
    margin: auto;

}

.menu-navegação {
    display: flex;
    font-size: larger;
    background-color: rgb(206, 208, 211);
    border-style: groove;
    border-color: #e5e8ec;
    text-align: center;
    justify-content: space-evenly;
}

ul {
    display: flex;
    list-style: none;
    font-size: large;
    justify-content: space-between;

}

li {
    padding: 1px;
    font-family:var(--fonte-principal);
    width: 80%;
    margin: auto;

}

.menu-navegação a {
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: smaller;

}

.subtitulo-pagina {
    display: flex;
    padding: 10px;
    text-decoration: none;
    font-family: var(--fonte-principal);
    width: 95%;
    margin: auto;
    background-color: rgb(206, 208, 211);
    justify-content: center;
    border-style: groove;

}

.sapatos {
    display: flex;
    padding: 6px;
    text-decoration: none;
    font-family: var(--fonte-principal);
    width: 97%;
    margin: auto;
    background-color: rgb(206, 208, 211);
    justify-content: left;
    border-style: groove;
}

.cintos {
    display: flex;
    padding: 6px;
    text-decoration: none;
    font-family: var(--fonte-principal);
    width: 97%;
    margin: auto;
    background-color: rgb(206, 208, 211);
    justify-content: left;
    border-style: groove;
}

.bolsas{
    display:flex;
        padding: 6px;
        text-decoration:none;
        font-family:var(--fonte-principal);
        width: 97%;
        margin:auto;
        background-color: rgb(206, 208, 211);
        justify-content:left;
        border-style:groove;}

.footer  {
    display:flex;
    padding: 3px;
    text-decoration:none;
    font-family:var(--fonte-principal);
    width: 97%;
    margin:auto;
    border-style:groove;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(206, 208, 211);
}

.footer .address p {
    display: flex;
    font-size:small
    align-items:center;
    justify-content: center;
    flex-direction: column;
   
}
            



    