.titulo-pagina {
    font-family: 'Georgia';
    text-align: center;
    font-size: 100px ;
    font-weight: 80;
    color: rgb(33, 58, 124);
    src: local('Georgia'), url('Georgia');
}

@font-face {
    font-family: 'Georgia';
    font-style:normal;
    font-weight: normal;
    src: local('Georgia'), url('Georgia');
    }
    
.menu-navegação {
    font-size: medium;
    width: 80%;
    margin:auto;

}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size:initial;
    font-family:Georgia, 'Times New Roman', Times, serif;
 
  

}

li {
    padding: 1px;

}
.menu-navegação a{
    text-decoration:none;

}
.menu-navegação {
    border-style: none;
    border-color: #96afdf;
  }
  
  div {
    border-style: none;
    border-color: #92a8d1;
  }
  
  body {
   
    background: linear-gradient(#ebecf0, #e3e3ec); 
}